body {
    margin: 0;
    background-color: rgb(247, 247, 247);
}

.container {
    background-color: rgb(247, 247, 247);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(237, 234, 234, 0.903);
    scale: 1.01;
}

.bg-success,
.bg-danger {
    color: white;
}

.d-none {
    display: none;
}

.img-end-screen {
    width: 100%;
}